
#section-container{
    text-align: center;
}

h1 {
    font-size: 4vh;
    background-color: rgba(255,255,255,0.3);
    margin: auto;
    padding: 1.5vh;
    color: white;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
}

section img {
    width: 40vw;
    height: 40vw;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
    border: none;
}

section p {
    margin: 20px;
    max-width: 50vw;
    text-align: start;
    color: white;
    letter-spacing: 2px;
    font-size: 3vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}