footer {
    margin-top: auto;
    background-color: #b3e6fc;
    padding: 2vw;
    text-align: center;
}

.footer-content {
    max-width: 80vw;
    margin: 0 auto;
}

.address {
    font-size: 1.3vw;
    color: #666;
}

body.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}